.split {
    margin-top: 100px;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

@media only screen and (max-width: 800px) {
  .split {
    height: 100% !important;
    max-width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }
  .aboutInfo {
    padding-right: 0;
    padding-left: 0;
    padding-top: 100px;
    margin-bottom: 125px !important;
    text-align: center;
    color: white;
    font-size: .83rem !important;
    font-weight: 200 !important;
    font-family: 'Raleway', sans-serif; 
   }
  .rightCentered {
    padding: 0px !important;
    padding-left: 50% !important;
    position: sticky;
    height: auto;
    top: 30% !important;
    left: 25% !important;
    transform: translate(-50%, -50%);
    text-align: center;
  }
    
  .centered {
    padding: 0px !important;
    padding-left: 50% !important;
    width: 100% !important;
    position: sticky;
    height: auto;
    top: 40% !important;
    left: 25% !important;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .rightCentered > p {
    font-size: 15px !important;
    font-weight: 200;
    color: black;
  }
  .w3-small {
    font-size: 15px !important;
  }
} 

.left {
  left: 0;
  background-color: #FF4500;
}
  
.right {
  right: 0;
  background-color: transparent;
}
  
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rightCentered {
  padding: 100px;
  position: relative;
  height: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rightCentered > p {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.aboutHeaderRight {
  text-align: center;
  padding-top: 50%;
  color: #000000;
  font-size: 3rem !important;
  font-weight: 200;
  font-family: 'Zilla Slab Highlight', cursive;
}
  
.centered img {
  width: 150px;
  border-radius: 50%;
}

.aboutInfo {
  text-align: center;
  color: gainsboro;
  font-size: 1.75rem;
  font-family: 'Raleway', sans-serif;
}

.w3-teal, .w3-hover-teal:hover {
    color: gainsboro !important;
    background-color: #FF4500!important;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: black!important;
    background-color: gainsboro !important;
}

.w3-small {
    font-size: 30px;
    font-weight: 300;
}

.w3-round-xlarge {
    border-radius: 16px;
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
