.typing {
    text-align: center;
    padding-top: 25%;
    color: #2A2A2A;
    font-size: 2.3rem;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.2rem;
}

@media only screen and (max-width: 850px) {
    .typing {
        padding: 15px;
        text-align: center;
        padding-top: 50% !important;
        color: #2A2A2A;
        font-size: 1rem !important;
        font-weight: 200;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: -0.175rem !important;
    }
    .linkButton {
        transition: ms=500 opacity ease-in;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 100% !important;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
}

.cardTyping {
    font-size: 1.5rem;
    color: white;
    font-family: 'Courier New, Courier, monospace',;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 1.5em;
}


.linkButton {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    border: none;
}

#cta{
    width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-right: 7px; width: 20px; height: 20px; background-size: contain; top:14px; margin-left: -2px;}
.segunda{margin-left: 12px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}