.typing {
    text-align: center;
    padding-top: 25%;
    color: #000000;
    font-size: 3rem;
    font-weight: 200;
    font-family: 'Zilla Slab Highlight', cursive;
}

.cardTyping {
    font-size: 1.5rem;
    color: white;
    font-family: 'Courier New, Courier, monospace';
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 1.5em;
}

.linkButton {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    border: none;
}

@media only screen and (max-width: 850px) {
    .typing {
        padding: 15px;
        text-align: center;
        padding-top: 75% !important;
        color: #000000;
        font-size: 1rem !important;
        font-weight: 200;
        font-family: 'Zilla Slab Highlight', cursive;
    }
    .linkButton {
        width: 100%;
        border-radius: 100%;
    }
}
